<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Email Form</title>
</head>
<body>
    <h1>hello this is email form</h1>
    <div class="container">
    <div class="email">
        {{msg}}
        <form method ="POST" action="send">
            <p>
                <label>Name:</label>
                <input type="text" name="name" placeholder="enter your name">
            </p>
            <p>
                <label>Contact Number:</label>
                <input type="number" name="contact" placeholder="your mobile number">
            </p>
            <p>
                <label>Email:</label>
                <input type="email" name="email" placeholder="enter your mail">
            </p>
             <p class="full">
                <label>Message:</label>
                <textarea name="message" rows="5" placeholder="enter your message "></textarea>
            </p>
            <p class="full">
                <button type="submit">Submit</button>
            </p>
          
        </form>
    </div>
    </div>
</body>
<script>
    function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); 
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); 
}
</script>
</html>